@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #111;
}

.container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 0.3rem;
}

.container > div {
  width: 16px;
  height: 16px;
  background-color: #222;
  transition: all 2s ease;
  box-shadow: 0 0 2px #000;
}

.container > div:hover {
  transition-duration: 0s;
}
